#dos {
    color: blue;
}

header {
    border: 5px solid red;
    background-color: black;
}

main {
    border: 5px dotted blue;
    border-radius: 5rem;
    background-color: aquamarine;
}

footer {
    border: 5px double peru;
    background-color: red;
}
div {
    border: 1px solid greenyellow;
    text-transform: lowercase;
}

header,
main,
footer {
    height: 300px;
}
.descentrado {
    text-align: left;
}

.coloracion {
    color: red;
    text-align: right;
}

.centrado {
    text-align: center;
}
